{% extends "studymain/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block body %}




    <div class="spacer ">
    </div>
    
    <div class="mt-5 mb-0 row justify-content-center ">
        <div class="col-auto  align-bottom">
            <blockquote class="blockquote text-light text-center bg-dark bg-opacity-75 m-3 p-3 rounded rounded-4 align-bottom">
            <H1 id="dailyquote" class="">Loading inspiration :D</H1>
            <footer class=" text-light opacity-75" id="author"></footer>
            </blockquote>
        </div>
    </div>

    
    

{% endblock %}

