{% extends "studymain/layout.html" %}
{% load crispy_forms_tags %}


{% block body %}
<div class="row justify-content-between">
    <div class="col-auto">
        <h6 class="fw-bold text-light text-end opacity-75">Welcome {{user.username}}</h6>
    </div>
    <div class="col-auto">
        <a href="{% url 'logout' %}" class="text-reset fw-bold text-light text-end opacity-75">
            <h6 class="text-end">Logout</h6> 
         </a>
    </div>
</div>

    <div class="container-sm justify-content-center">
        <div class="row justify-content-center">
            <div class="col-auto">
                <blockquote class="blockquote text-light text-center bg-dark bg-opacity-75 m-3 p-3 rounded rounded-4 ">
                <H1 id="dailyquote" class="">Loading inspiration :D</H1>
                <footer class=" text-light opacity-75" id="author"></footer>
                </blockquote>
            </div>
        </div>
        
        
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <H1 class="m-3 text-light">Home</H1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 m-3 p-3 thumbnail">
            <a href="{% url 'todo' %}" class="text-reset">
                <img src="https://images.unsplash.com/photo-1506784983877-45594efa4cbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1168&q=80" class="img-fluid img-thumbnail border rounded mx-auto d-block border-dark H-50  opacity-75" alt="schedule image">
                <div class="centered fs-1 fw-bold">Task Manager</div>
            </a>
        </div>
    </div>

    

    <div class="div2 row justify-content-center">
        <div class="col-md-6 m-3 p-3 thumbnail">
            <img src="https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80" class="img-fluid img-thumbnail border rounded mx-auto d-block border-dark H-50  opacity-75" alt="schedule image">
            <div class="centered fs-1 fw-bold">Flip Cards</div>
        </div>
    </div>

    

{% endblock %}