{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}StudyBuddy{% endblock %}</title>
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
       
        
        <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
        <link rel="icon" href="/static/studymain/easel.svg">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
        
        
        
        <!-- CSS only -->
        

        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="{% static 'studymain/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <script src="{% static 'studymain/script.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container-fluid m-2 fs-3">
              <a class="navbar-brand fs-2" href="{% url 'index' %}"><i class="bi bi-easel"></i> StudyBuddy</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse text-end" id="navbarNavAltMarkup">
                <ul class="navbar-nav ms-auto flex-nowrap">
                    <li class="nav-item">
                        <a href="" class="nav-link m-2 menu-item text-white-75 nav-active">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link m-2 menu-item text-white-75">How We Help</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link m-2 menu-item text-white-75">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link m-2 menu-item text-white-75">Contact</a>
                    </li>
                </ul>
              </div>
            </div>
        </nav>
        <div class="h-100 bg-secondary">
            <div class="container-fluid" >
                
                {% block body %}
                {% endblock %}
            </div>
        </div>
        
    </body>
    
    
</html>