{% extends "studymain/layout.html" %}
{% load crispy_forms_tags %}


{% block body %}

<a href="{% url 'logout' %}" class="text-reset fw-bold"> <h6 class="fw-bold text-light text-end opacity-75">Logout</h6></a>
    <div class="container-sm justify-content-center">
        <div class="row">
            <div class="col-3 p-2">
                <a href="{% url 'index' %}" class="text-reset fw-bold">
                    <button type="button" class="btn btn-dark opacity-75">
                        <i class="bi bi-house-fill text-light fs-3 p-3"></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <blockquote class="blockquote text-light text-center bg-dark bg-opacity-75 m-3 p-3 rounded rounded-4 ">
                <H1 id="dailyquote" class="">Loading inspiration :D</H1>
                <footer class=" text-light opacity-75" id="author"></footer>
                </blockquote>
            </div>
        </div>
        
        
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <H1 class="m-3 text-light">Current tasks</H1>
        </div>
    </div>

    

    

{% endblock %}