{% extends "studymain/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block body %}


<div class="modal fade" id="CreateForm" tabindex="-1" aria-labelledby="CreateFormLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark bg-gradient text-light">
        <div class="modal-header">
          <h5 class="modal-title" id="CreateFormLabel">Create Task</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="{% url 'CreateTask' %}">
            <div class="modal-body">
                <div class="m-3 p-3" style= "opacity: 90%">
                    {% csrf_token %}
                    
                    {{ form|crispy }}
                    {{ form.media }}
                </div>
                    
                    
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-light col-auto m-2" label="Create" style= "opacity: 75%">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>


<a href="{% url 'logout' %}" class="text-reset fw-bold"> <h6 class="fw-bold text-light text-end opacity-75">Logout</h6></a>
    <div class="container-fluid justify-content-center">
        <div class="row justify-content-between">
            <div class="col-3 p-2">
                <a href="{% url 'index' %}" class="text-reset fw-bold">
                    <button type="button" class="btn btn-dark opacity-75">
                        <i class="bi bi-house-fill text-light fs-3 p-3"></i>
                    </button>
                </a>
            </div>
            <div class="col-3 text-end">
                <button type="button" class="btn btn-dark opacity-75" data-bs-toggle="modal" data-bs-target="#CreateForm">
                    <i class="bi bi-pencil-square text-light fs-3 p-3"></i>
                </button>
            </div>
        </div>
        
        
    </div>
    <script src="{% static 'studymain/script.js' %}"></script>
    <div class="row justify-content-center">
        <div class="col-auto">
            <H1 class="m-3 text-light text-center">Current tasks</H1>
            <div class="row justify-content-center">
            {% for task in tasks %}
                
                
                    <div class="col-auto bg-dark bg-opacity-75 m-3 p-3 rounded rounded-4 task">
                        <i class="overflow bi bi-arrows-angle-expand me-3 fs-3 text-secondary opacity-0" data-bs-toggle="modal" data-bs-target="#Modal-{{task.id}}"></i>
                        <h2 class="text-center mb-3 text-light" id="task-{{task.id}}" data-bs-toggle="modal" data-bs-target="#Modal-{{task.id}}">
                            {{task.title.capitalize}}
                        </h2> 
                        <div class="container">
                            
                                <div class="row">  
                                    <div class="col-auto">
                                        {% if not task.done %}
                                            <input type="radio" class="btn-check rounded rounded-3" onClick="done(this.id)" name="options-outlined-{{task.id}}" id="{{task.id}}-outlined-done" autocomplete="off" >
                                            <label class="btn btn-outline-success" for="{{task.id}}-outlined-done">Done<i class="bi bi-check2"></i></label>
                                            
                                            <input type="radio" class="btn-check" name="options-outlined-{{task.id}}" onClick="done(this.id)" id="{{task.id}}-outlined-notdone" autocomplete="off" checked>
                                            <label class="btn btn-outline-danger" for="{{task.id}}-outlined-notdone">Not Done<i class="bi bi-x"></i></label>
                                        
                                        {% else %}
                                        
                                            <input type="radio" class="btn-check rounded rounded-3" onClick="done(this.id)" name="options-outlined-{{task.id}}" id="{{task.id}}-outlined-done" autocomplete="off" checked>
                                            <label class="btn btn-outline-success" for="{{task.id}}-outlined-done">Done<i class="bi bi-check2"></i></label>
                                            
                                            <input type="radio" class="btn-check"  onClick="done(this.id)"name="options-outlined-{{task.id}}" id="{{task.id}}-outlined-notdone" autocomplete="off" >
                                            <label class="btn btn-outline-danger" for="{{task.id}}-outlined-notdone">Not Done<i class="bi bi-x"></i></label>

                                        {% endif %}
                                    </div>
                                </div>
                        </div>
                        
                    </div>    
                
                <div class="modal fade" id="Modal-{{task.id}}" tabindex="-1" aria-labelledby="ModalLabel-{{task.id}}" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content bg-dark text-light">
                        <div class="modal-header">
                          <h5 class="modal-title" id="ModalLabel-{{task.id}}">{{task.title.capitalize}}
                            
                          </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6 class="">Description:</h6>
                            <p id="body-{{task.id}}">{{task.body}}</p>
                            <h6 class="">Due:</h6> 
                            <p id ="due-{{task.id}}">{{task.due_date}}
                                <span id="nested-{{task.id}}" class="text-secondary">({{ task.due_date|timeuntil:today }})</span>
                            </p>

                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-auto text-start">
                                    {% if task.create_time == task.modified%}
                                    <i class="text-secondary">Created at: {{task.create_time}}</i>
                                    {% else %}
                                    <i class="text-secondary">Last Modified at: {{task.modified}}</i>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <button type="button" id="close-{{task.id}}" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" id="button-{{task.id}}" onClick="edit(this.id)" class="btn btn-primary">Edit</button>
                                    <button type="button" id="submit-{{task.id}}" class="d-none btn btn-success">Submit</button>
                                    <button type="button" id="cancel-{{task.id}}" class="d-none btn btn-danger" >Cancel</button>
                                </div>
                            </div>
                          
                        </div>
                      </div>
                    </div>
                </div>
                
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="spacer ">
    </div>
    
    <div class="mt-5 mb-0 row justify-content-center ">
        <div class="col-auto  align-bottom">
            <blockquote class="blockquote text-light text-center bg-dark bg-opacity-75 m-3 p-3 rounded rounded-4 align-bottom">
            <H1 id="dailyquote" class="">Loading inspiration :D</H1>
            <footer class=" text-light opacity-75" id="author"></footer>
            </blockquote>
        </div>
    </div>

    
    

{% endblock %}

