{% extends "studymain/layout.html" %}
{% load crispy_forms_tags %}


{% block body %}

<a href="{% url 'logout' %}" class="text-reset fw-bold"> <h6 class="fw-bold text-light text-end opacity-75">Logout</h6></a>
    <div class="container-sm justify-content-center">
        <div class="row">
            <div class="col-3 p-2">
                <a href="{% url 'index' %}" class="text-reset fw-bold">
                    <button type="button" class="btn btn-dark opacity-75">
                        <i class="bi bi-house-fill text-light fs-3 p-3"></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <blockquote class="blockquote text-light text-center bg-dark bg-opacity-75 m-3 p-3 rounded rounded-4 ">
                <H1 id="dailyquote" class="">Loading inspiration :D</H1>
                <footer class=" text-light opacity-75" id="author"></footer>
                </blockquote>
            </div>
        </div>
        
        
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <H1 class="m-3 text-light">Current tasks</H1>
            {% for task in tasks %}
                <div class="row justify-content-center">
                    <div class="col-auto bg-dark bg-opacity-75 m-3 p-3 rounded rounded-4 task">
                        <i class="overflow bi bi-arrows-angle-expand me-3 fs-3 text-secondary opacity-0" data-bs-toggle="modal" data-bs-target="#Modal-{{task.id}}"></i>
                        <h2 class="text-center mb-3" data-bs-toggle="modal" data-bs-target="#Modal-{{task.id}}">
                            {{task.title.capitalize}}
                        </h2> 
                        <div class="container">
                            
                                <div class="row">  
                                    <div class="col-auto">
                                        {% if not task.done %}
                                            <input type="radio" class="btn-check rounded rounded-3" name="options-outlined" id="{{task.id}}-outlined-done" autocomplete="off" >
                                            <label class="btn btn-outline-success" for="{{task.id}}-outlined-done">Done<i class="bi bi-check2"></i></label>
                                            
                                            <input type="radio" class="btn-check" name="options-outlined" id="{{task.id}}-outlined-notdone" autocomplete="off" checked>
                                            <label class="btn btn-outline-danger" for="{{task.id}}-outlined-notdone">Not Done<i class="bi bi-x"></i></label>
                                        {% endif %}
                                    </div>
                                </div>
                        </div>
                        
                    </div>    
                </div>
                <div class="modal fade" id="Modal-{{task.id}}" tabindex="-1" aria-labelledby="ModalLabel-{{task.id}}" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="ModalLabel-{{task.id}}">{{task.title.capitalize}}
                            
                          </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6 class="">Description:</h6>
                            <p>{{task.body}}</p>
                            <h6 class="">Due:</h6> 
                            <p>{{task.due_date}}
                                <span class="text-muted">({{ task.due_date|timeuntil:today }})</span>
                            </p>

                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-auto text-start">
                                    {% if task.create_time == task.modified%}
                                    <i class="text-muted">Created at: {{task.create_time}}</i>
                                    {% else %}
                                    <i class="text-muted">Last Modified at: {{task.modified}}</i>
                                    {% endif%}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
            {% endfor %}
        </div>
    </div>

    

    

{% endblock %}